body {
  max-width: 800px;
  margin: auto;
  padding: 3em 1em;
  font-family: Arial, "Open Sans", "Helvetica Neue", sans-serif;
  line-height: 1.5em;
}

h1 {
  line-height: 1.5;
}

hr {
  margin: 3em 0;
  border: 0;
  background-color: #d9d9d9;
  height: 3px;
}

.row {
  display: flex;
  flex-direction: row;
}

.column {
  display: flex;
  flex-direction: column;
}

.displayname {
  font-weight: bold;
}

.username, .date, .tweet_footer {
  color: #4F6572;
}

.date,
.tweet_footer p {
  font-size: 14px !important;
}
.color--lightgrey {
  color: #d9d9d9;
}

.color--darkgrey {
  color: #4F6572;
}

.color--twitterblue {
  color: #1d9bf0;
}

.color--pink {
  color: #FF0081;
}

.color--green {
  color: #00BD76;
}

.font--smaller {
  font-size: 14px !important;
}

.font--larger {
  font-size: 20px !important;
}

/* containers */

.wrapper {
  max-width: 500px;
  font-family: -apple-system, BlinkMacSystemFont, Arial, "Open Sans", "Helvetica Neue", sans-serif;
  border: 1px solid #d9d9d9;
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  line-height: 0 !important;
}

.wrapper p {
  margin: 0;
  line-height: 1.4;
  font-size: 15px;
}

.wrapper :last-child {
border-bottom: none;
}

.container_box {
  margin: 0;
  padding: 16px;
  display: flex;
  border-bottom: 1px solid #d9d9d9;
}

.tweet_content, .dm_userInfo {
  display: flex;
  flex-direction: column;
  padding-left: 30px;
  margin-left: -22px;
  border-left: 3px solid white;
  width: 100%;
}

.tweet_text {
  margin-top: 12px !important;
}

.text_linebreak {
  margin-top: 12px !important;
}

.tweet_img {
  border-radius: 10px;
  width: 100%;
  margin-top: 16px !important;
  display: block;
}

.tweet_footer {
  display: flex;
  margin-top: 16px !important;
}  

.tweet_footer p {
  line-height: 0 !important;
}

.tweet_footer .row, .account_userMeta .row {
  width: 100%;
  align-items: center;
}

.tweet_footer--last {
  max-width: fit-content;
}

.tweet_reply--first {
  padding-bottom: 0;
  border-bottom: none;
}

.tweet_reply--between {
  padding-top: 0;
  padding-bottom: 0;
  border-bottom: none;
}

.tweet_reply--first .tweet_footer,
.tweet_reply--between .tweet_footer {
  padding-bottom: 24px;
}

.tweet_reply--first .tweet_content,
.tweet_reply--between .tweet_content {
  border-left: 3px solid #d9d9d9 !important;
}

.tweet_reply--last {
  padding-top: 0;
}

.tweet_replyTo {
  color: #4F6572;
  font-size: 13px !important;
  margin-bottom: 12px !important;
}


/* --- account --- */

.account_box {
  display: flex;
  flex-direction: column;
  padding-bottom: 0;
}

.account_header img {
  width: 100%;
  margin-bottom: 4px;;
}

.account_userNames,
.account_userBio,
.account_userMeta {
  margin-bottom: 16px;
}

.account_followMeta {
  display: flex;
  margin-bottom: 24px;
}

.account_followMeta div:first-child {
  margin-right: 24px;
}

.account_tabs {
  display: flex;
  justify-content: space-between;
}

.tab {
 padding-bottom: 8px;
 color: #4F6572;
}

.active {
  font-weight: bold;
  color: black;
  border-bottom: 4px solid #1D9BF0;
} 

/*--temp for testing--*/

.break {
  margin: 75px 0;
  background-color: #d9d9d9;
  height: 10px;
}

/*-- icons --*/

.icon {
  width: 15px;
  height: 15px;
  margin-right: 4px !important;
  background-size: 100%;
  background-repeat: no-repeat;
  display: inline-block;
  vertical-align:text-bottom;
}

.icon--comments {
  background-image: url("https://images.squidge.org/images/2026/09/29/icon_comments.png");
}

.icon--retweets {
  background-image: url("https://images.squidge.org/images/2026/09/29/icon_retweets.png");
}

.icon--likes {
  background-image: url("https://images.squidge.org/images/2026/09/29/icon_likes.png");
}

.icon--likes-filled {
  background-image: url("https://images.squidge.org/images/2026/09/30/icon_likes-filled.png");
}

.icon--retweets-filled {
  background-image: url("https://images.squidge.org/images/2026/09/30/icon_retweets-filled.png");
}

.icon--bookmarks {
  background-image: url("https://images.squidge.org/images/2026/09/29/icon_bookmarks-unsaved.png");
  margin-right:0 !important;
}

.icon--bookmarks-saved {
  background-image: url("https://images.squidge.org/images/2026/09/29/icon_bookmarks-saved.png");
  margin-right:0 !important;
}

.icon--more {
  background-image: url("https://images.squidge.org/images/2026/09/29/icon_more.png");
  margin-top:4px !important;
  margin-right: 0 !important;
}

.icon--location {
  background-image: url("https://images.squidge.org/images/2026/09/29/icon_location.png");
}

.icon--calendar {
  background-image: url("https://images.squidge.org/images/2026/09/29/icon_calendar.png");
}

.tweet_header, .dm_header {
  display: flex;
  justify-content: space-between;
  align-items:start;
}

.margin-top--0 {
  margin-top: 0 !important;
}
.margin-right--4 {
  margin-right: 4px !important;
}

.margin--socmedpost {
  margin-top: 3em;
  margin-bottom: 3em;
}

.profile_photo {
  min-width: 40px;
  min-height: 40px;
  width: auto; 
  height: 100%;
  background-size: 100%;
  background-repeat: no-repeat;
  display: block;
  position: relative;
  z-index: 2;
  border-radius: 100%;
}

.pfp_shotaro {
  background-image: url("https://images.squidge.org/images/2026/09/26/pfp_shotaro.png");
}

.pfp_sungchan {
  background-image: url("https://images.squidge.org/images/2026/09/26/pfp_sungchan.png");
}

.pfp_eunseok {
  background-image: url("https://images.squidge.org/images/2026/09/26/pfp_eunseok.png");
}

.pfp_sohee {
  background-image: url("https://images.squidge.org/images/2026/09/26/pfp_sohee.png");
}


/*-- writing --*/
.highlight {
  background: rgb(252, 212, 69, 50%);
}

.gallery--2x {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: auto;
  justify-content: space-between;
}

.gallery--2x p:first-child {
  margin-right: 8px;
}

.gallery--2x .tweet_img {
  width: 100%;
  margin-bottom: 0 !important;
}

/*-- direct messages --*/

.dm_box {
  flex-direction: column;
}

.dm_header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.dm_header .icon {
  width: 40px;
  height: 40px;
}

.icon--more-dm {
  background-image: url("https://images.squidge.org/images/2026/10/02/icon_more-dm.png");
}

.message { 
  width: fit-content;
  max-width: 60%;
  padding: 8px 12px;
  border-radius: 16px;
  margin-bottom: 8px !important;
}

.dm_box_image {
  max-width: 60%;
  margin-bottom: 8px;
  border-radius: 16px;
}

.dm_sender, .dm_receiver {
  display: flex;
  flex-direction: column;
}

.dm_sender .message {
  background-color: #1D9BF0;
  color: white;
}

.dm_sender > * {
  margin-left: auto !important;
}

.dm_receiver > * {
  margin-right: auto !important;
}

.dm_receiver .message {
  background-color: #e5e5e5;
  color: black;
}

.message--last{
  margin-bottom: 0 !important;
}

.dm_containerBox {
  border: 1px solid #d9d9d9;
  border-radius: 16px;
  width: 75%;
  margin-bottom: 8px !important;
  padding: 16px;
}

.dm_containerBox_header {
  display: flex;
  flex-direction: row;
}
.dm_containerBox_header .profile_photo {
  min-width: 20px;
  min-height: 20px;
  margin-right: 6px;
}

.dm_containerBox_content {
  margin-top: 8px;
}

.dm_containerBox_content .tweet_img {
margin-top: 8px !important;
}

.dm_date  {
  margin: auto;
  margin-bottom: 32px;
}

.dm_date--between {
  margin-top: 32px;
}
